.container,
.container article {
  height: 100dvh;
}

.container {
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;

  article {
    background: #323;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    border: thin solid #666;
    padding: 1rem;

    &:nth-child(odd) {
      background: #232;
    }
  }
}
