.container,
.container article {
  height: 100vh;
}

.container {
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  /* smooth scrolling between snap points */
  scroll-behavior: smooth;

  article {
    background: #323;
    scroll-snap-align: start;
    border: thin solid #ccc;
    padding: 1rem;

    &:nth-child(odd) {
      background: #232;
    }
  }
}
