.container,
.container article {
  height: 100dvh;
}

.container {
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;

  article {
    display: grid;
    place-items: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    overflow: hidden;
    padding: 1rem;
  }

  h1 {
    place-self: start;
    font-weight: bold;
  }
}
